/* General styles */
h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #c5e1c5;
}

#content {
    max-width: 90vw;
    margin: 0 auto;
}

.header {
    padding: 10vh 0;
    text-align: center;
}

h1 {
    font-size: 2.7rem;
}

.highlight {
    color: #146c2f;
}
