/* General styles */
h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #c5e1c5;
    padding-bottom: 10vh;
}

#content {
    max-width: 90vw;
    margin: 0 auto;
}

.header {
    padding: 10vh 0;
    text-align: center;
}

h1 {
    font-size: 2.7rem;
}

.highlight {
    color: #105625;
}

/* Resource styles */
.resource {
    padding: .3em .7em;
    border-radius: .8em;
    background-color: #dee0e2;
    color: #000;
}

li {
    line-height: 3em;
}

ul {
    list-style-type: none;
}